{
	"env": {
		"browser": true,
		"es2020": true
	},
	"extends": [
		"plugin:prettier/recommended",
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react-hooks/recommended",
		"plugin:jsx-a11y/recommended"
	],
	"settings": {
		"react": {
			"version": "16.13.1"
		}
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 11,
		"sourceType": "module"
	},
	"plugins": ["react", "@typescript-eslint"],
	"rules": {
		"@typescript-eslint/explicit-module-boundary-types": 0,
		"@typescript-eslint/no-var-requires": 0, // Require is OK for images/static assets
		"@typescript-eslint/no-empty-interface": 0,
		"@typescript-eslint/ban-types": 0,
		"react/prop-types": 0
	}
}
